*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bottom-content{
    padding-top: 34px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 48px;
}
.latest-button-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    margin: 0 auto;
    cursor: pointer;
}

.latest-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00ff99;
    color: black;
    text-decoration: none;
    border: none;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.latest-card{
    width: 100%;
    border-bottom: 3px solid black;

}
.arrow{
    width: 20px;
    height: 20px;
    fill: white;
}

.arrow-container{
    background-color: black;
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-image-container{
    width: 100%;
    height: 300px;
    cursor: pointer;
    overflow: hidden;
    margin-top: 32px;
}

.quandale-image-1{
    width: 100%;
    height: 100%;
    transition: .25s;
    object-fit: cover;
    object-position: center;
    border-bottom: 12px solid #00ff99;

}

/* ----- button ----- */

.latest-button-container:hover .latest-button {
    background-color: black;
    color: white;
}

.latest-button-container:hover .arrow {
    fill: black;
}

.latest-button-container:hover .arrow-container{
    background-color: #00ff99;
}

.latest-button-container:active {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .5);
}

.latest-image:hover{
    background-size: 110%;
}

.article-author{
    font-size: 12px;
    color: rgb(68, 67, 67);
    padding-bottom: 24px;
}

.article-link{
    display: inline-block;
    font-size: 24px;
    margin-top: 12px;
    padding-bottom: 1px;
    position: relative;
    cursor: pointer;
    color: black;
    text-decoration: none;
    margin-bottom: 16px;
}

.article-title{   
    background-image: linear-gradient(transparent calc(90% - 6px), #00ff99 6px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .25s;
}

.article-link:hover .article-title {
  background-size: 100% 100%;
}


.latest-content-bottom-container{
    border-top: 1px solid black ;
}
.latest-content-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 4px;
    gap: 24px;
}

@media all and (max-width: 800px){
    
    .bottom-content{
        display: block; 
    }
}